<!-- search header -->
  <header class="site-header overlay-black no-padding-bottom text-center bg-fixed" style="background-image: url(<%= asset_path('bg-header.jpg') %>">
    <div class="container">
        <h2>Be inspired, be</h2>
        <h1><i><strong>CONSTRUCTIVE</strong></i></h1>
        <br><br>
        <div id="faq-search" class="form-group">
            <i class="ti-search fa fa-hand-o-right" aria-hidden="true"></i>
            <input type="text" class="form-control" name="search" placeholder="Find your inspiration...">
        </div>
      <br><br><br>
    </div>
  </header>

  <!-- Main container -->
  <main>
    <!-- Staff picks -->
    <section>
      <div class="container">
        <header class="section-header">
          <span>Featured</span>
          <h2>Staff Favorites</h2>
          <p>Curated selection of awesome, inovative designs.</p>
        </header>

      <div class="row">
          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="/shots/<%= @shots[70].id %>"><img src="<%=@shots[70].images_normal %>" alt="" ></a>
                <!-- <span class="like liked">329</span>
                <span class="black-overlay"></span> -->
              </div>
            </div>
          </div>

          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="/shots/<%= @shots[80].id %>"><img src="<%=@shots[80].images_normal %>" alt="" ></a>
                <!-- <span class="like liked">329</span>
                <span class="black-overlay"></span> -->
              </div>
            </div>
          </div>

          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="/shots/<%= @shots[72].id %>"><img src="<%=@shots[72].images_normal %>" alt="" ></a>
                <!-- <span class="like liked">329</span>
                <span class="black-overlay"></span> -->
              </div>
            </div>
          </div>

          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="/shots/<%= @shots[73].id %>"><img src="<%=@shots[73].images_normal %>" alt="" ></a>
                <!-- <span class="like liked">329</span>
                <span class="black-overlay"></span> -->
              </div>
            </div>
          </div>

          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="/shots/<%= @shots[81].id %>"><img src="<%=@shots[81].images_normal %>" alt="" ></a>
                <!-- <span class="like liked">329</span>
                <span class="black-overlay"></span> -->
              </div>
            </div>
          </div>

          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="/shots/<%= @shots[78].id %>"><img src="<%=@shots[78].images_normal %>" alt="" ></a>
                <!-- <span class="like liked">329</span>
                <span class="black-overlay"></span> -->
              </div>
            </div>
          </div>

        <!-- see all button -->
          <div class="col-xs-12 col-sm-4 col-md-offset-4">
            <br><br>
            <a class="btn btn-primary btn-block" href="explore-style3-cols3.html">See all</a>
          </div>

        </div>

      </div>
    </section>

    <!-- Recent section -->
    <section class="bg-white">
      <div class="container">
        <header class="section-header">
          <span>Recent</span>
          <h2>Freshest Uploads</h2>
          <p>Newest content from our members around the world.</p>
        </header>

      <div class="row">
          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="shot-gallery.html"><%= image_tag 'shot-2.jpg', alt:'' %></a>
              </div>

              <div class="shot-info">
                <a href="user-profile.html"><%= image_tag 'avatar-2.jpg', alt:'avatar' %></a>
                <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                <p><time datetime="2016-02-04 22:30">2 hours ago</time> in <a href="page-search.html">App</a></p>
              </div>
            </div>
          </div>

          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="shot-gallery.html"><%= image_tag 'shot-2.jpg', alt:'' %></a>
              </div>

              <div class="shot-info">
                <a href="user-profile.html"><%= image_tag 'avatar-2.jpg', alt:'avatar' %></a>
                <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                <p><time datetime="2016-02-04 22:30">2 hours ago</time> in <a href="page-search.html">App</a></p>
              </div>
            </div>
          </div>

          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="shot-gallery.html"><%= image_tag 'shot-2.jpg', alt:'' %></a>
              </div>

              <div class="shot-info">
                <a href="user-profile.html"><%= image_tag 'avatar-2.jpg', alt:'avatar' %></a>
                <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                <p><time datetime="2016-02-04 22:30">2 hours ago</time> in <a href="page-search.html">App</a></p>
              </div>
            </div>
          </div>

          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="shot-gallery.html"><%= image_tag 'shot-2.jpg', alt:'' %></a>
              </div>

              <div class="shot-info">
                <a href="user-profile.html"><%= image_tag 'avatar-1.jpg', alt:'avatar' %></a>
                <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                <p><time datetime="2016-02-04 22:30">2 hours ago</time> in <a href="page-search.html">App</a></p>
              </div>
            </div>
          </div>

          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="shot-gallery.html"><%= image_tag 'shot-2.jpg', alt:'' %></a>
              </div>

              <div class="shot-info">
                <a href="user-profile.html"><%= image_tag 'avatar-1.jpg', alt:'avatar' %></a>
                <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                <p><time datetime="2016-02-04 22:30">56 mins ago</time> in <a href="page-search.html">App</a></p>
              </div>
            </div>
          </div>

          <!-- Shot -->
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="shot shot-small">
              <div class="shot-preview">
                <a class="img" href="shot-gallery.html"><%= image_tag 'shot-2.jpg', alt:'' %></a>
              </div>

              <div class="shot-info">
                <a href="user-profile.html"><%= image_tag 'avatar-1.jpg', alt:'avatar' %></a>
                <h6><a href="shot-gallery.html">Donec vulputate justo</a></h6>
                <p><time datetime="2016-02-04 22:30">2 hours ago</time> in <a href="page-search.html">App</a></p>
              </div>
            </div>
          </div>

        <!-- See all button -->
          <div class="col-xs-12 col-sm-4 col-md-offset-4">
            <br><br>
            <a class="btn btn-primary btn-block" href="explore-style3-cols3.html">See all</a>
          </div>

        </div>

      </div>
    </section>

    <!-- Featured users -->
    <section>
      <div class="container">
        <header class="section-header">
          <span>The bests</span>
          <h2>Featured users</h2>
          <p>Our weekly selected users with popular shots</p>
        </header>

        <div class="row">
          <!-- User widget -->
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="user-widget-mini">
              <a href="user-profile.html">
              <%= image_tag 'avatar-2.jpg', alt:'avatar' %></a>
                <h5><a href="#">Jose Shams</a></h5>
                  <p class="lead">Front-end developer</p>
                    <small>135 Shot</small>
            </div>
          </div>

          <!-- User widget -->
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="user-widget-mini">
              <a href="user-profile.html">
              <%= image_tag 'avatar-2.jpg', alt:'avatar' %></a>
                <h5><a href="#">Jose Shams</a></h5>
                  <p class="lead">Front-end developer</p>
                    <small>135 Shot</small>
            </div>
          </div>

          <!-- User widget -->
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="user-widget-mini">
              <a href="user-profile.html">
              <%= image_tag 'avatar-1.jpg', alt:'avatar' %></a>
                <h5><a href="#">Jose Shams</a></h5>
                  <p class="lead">Front-end developer</p>
                    <small>135 Shot</small>
            </div>
          </div>

          <!-- User widget -->
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="user-widget-mini">
              <a href="user-profile.html">
              <%= image_tag 'avatar-1.jpg', alt:'avatar' %></a>
                <h5><a href="#">Jose Shams</a></h5>
                  <p class="lead">Front-end developer</p>
                    <small>135 Shot</small>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Facts section -->
    <section class="section-sm no-border-bottom overlay-black" style="background-image: url(<%= asset_path('facts1.jpg') %>)">
      <div class="container">

        <div class="row">
          <div class="counter color-alt col-md-3 col-sm-6">
            <i class="fa fa-camera"></i>
            <p><span data-from="0" data-to="6890"></span>+</p>
            <h6>Shots</h6>
          </div>

          <div class="counter color-alt col-md-3 col-sm-6">
            <i class="fa fa-user"></i>
            <p><span data-from="0" data-to="1200"></span>+</p>
            <h6>Members</h6>
          </div>

          <div class="counter color-alt col-md-3 col-sm-6">
            <i class="fa fa-heart"></i>
            <p><span data-from="0" data-to="36800"></span>+</p>
            <h6>Likes</h6>
          </div>

          <div class="counter color-alt col-md-3 col-sm-6">
            <i class="fa fa-comment"></i>
            <p><span data-from="0" data-to="15400"></span>+</p>
            <h6>Comments</h6>
          </div>
        </div>

      </div>
    </section>
  </main>


  <!-- <h1>heloo</h1>
  <img src="<%=@shots[1].images_normal %>"> -->
